src/main/resources/coah.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="content">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element name="hotel">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element type="xs:short" name="giata_id"/>
                                          <xs:element type="xs:short" name="iff"/>
                                          <xs:element type="xs:string" name="name"/>
                                          <xs:element type="xs:float" name="latitude"/>
                                          <xs:element type="xs:float" name="longitude"/>
                                          <xs:element name="address">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element type="xs:short" name="zip"/>
                                                            <xs:element type="xs:string" name="city"/>
                                                            <xs:element type="xs:string" name="country"/>
                                                            <xs:element name="formatted">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element type="xs:string" name="line" maxOccurs="unbounded" minOccurs="0"/>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element type="xs:long" name="phone"/>
                                          <xs:element type="xs:string" name="email"/>
                                          <xs:element type="xs:anyURI" name="url"/>
                                          <xs:element type="xs:string" name="update_timestamp"/>
                                          <xs:element type="xs:string" name="category"/>
                                          <xs:element type="xs:string" name="region_code"/>
                                          <xs:element type="xs:string" name="country_name"/>
                                          <xs:element name="texts">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="text">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element name="paragraph" maxOccurs="unbounded" minOccurs="0">
                                                                                    <xs:complexType>
                                                                                          <xs:simpleContent>
                                                                                                <xs:extension base="xs:string">
                                                                                                      <xs:attribute type="xs:string" name="headline" use="optional"/>
                                                                                                      <xs:attribute type="xs:string" name="description" use="optional"/>
                                                                                                </xs:extension>
                                                                                          </xs:simpleContent>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element type="xs:string" name="copyrightText"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="tourOperator"/>
                                                                        <xs:attribute type="xs:string" name="source"/>
                                                                        <xs:attribute type="xs:string" name="tourOperatorLong"/>
                                                                        <xs:attribute type="xs:string" name="id"/>
                                                                        <xs:attribute type="xs:string" name="name"/>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element name="usps">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="hotelAttributes">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element name="attribute" maxOccurs="unbounded" minOccurs="0">
                                                                                    <xs:complexType>
                                                                                          <xs:simpleContent>
                                                                                                <xs:extension base="xs:string">
                                                                                                      <xs:attribute type="xs:byte" name="priority" use="optional"/>
                                                                                                      <xs:attribute type="xs:float" name="rating" use="optional"/>
                                                                                                </xs:extension>
                                                                                          </xs:simpleContent>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="source"/>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element type="xs:string" name="additionalTexts"/>
                                          <xs:element name="images">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element type="xs:byte" name="priority"/>
                                                                              <xs:element type="xs:string" name="title"/>
                                                                              <xs:element type="xs:string" name="alt"/>
                                                                              <xs:element type="xs:string" name="category"/>
                                                                              <xs:element type="xs:byte" name="width"/>
                                                                              <xs:element type="xs:byte" name="height"/>
                                                                              <xs:element type="xs:string" name="url"/>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:string" name="source"/>
                                                      <xs:attribute type="xs:string" name="sourceLong"/>
                                                      <xs:attribute type="xs:string" name="katalogid"/>
                                                      <xs:attribute type="xs:string" name="katalogname"/>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element name="videos">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="video">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element name="urls">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="url">
                                                                                                      <xs:complexType>
                                                                                                            <xs:simpleContent>
                                                                                                                  <xs:extension base="xs:string">
                                                                                                                        <xs:attribute type="xs:string" name="type"/>
                                                                                                                  </xs:extension>
                                                                                                            </xs:simpleContent>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="hasPlayer"/>
                                                                        <xs:attribute type="xs:string" name="source"/>
                                                                        <xs:attribute type="xs:byte" name="priority"/>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element name="attributes">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element type="xs:string" name="attribute" maxOccurs="unbounded" minOccurs="0"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:string" name="source"/>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element name="ratings">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element type="xs:int" name="hc_id"/>
                                                            <xs:element type="xs:float" name="recommendation_rate"/>
                                                            <xs:element type="xs:float" name="rating"/>
                                                            <xs:element type="xs:short" name="reviews"/>
                                                            <xs:element type="xs:anyURI" name="url"/>
                                                            <xs:element name="detailedRating">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element name="averageRating">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element type="xs:float" name="overall"/>
                                                                                                <xs:element type="xs:float" name="single"/>
                                                                                                <xs:element type="xs:float" name="couple"/>
                                                                                                <xs:element type="xs:float" name="family"/>
                                                                                                <xs:element type="xs:float" name="friends"/>
                                                                                                <xs:element type="xs:float" name="beach"/>
                                                                                                <xs:element type="xs:float" name="wintersport"/>
                                                                                                <xs:element type="xs:float" name="other"/>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="hotelRating">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element type="xs:float" name="overall"/>
                                                                                                <xs:element type="xs:float" name="single"/>
                                                                                                <xs:element type="xs:float" name="couple"/>
                                                                                                <xs:element type="xs:float" name="family"/>
                                                                                                <xs:element type="xs:float" name="friends"/>
                                                                                                <xs:element type="xs:float" name="beach"/>
                                                                                                <xs:element type="xs:float" name="wintersport"/>
                                                                                                <xs:element type="xs:float" name="other"/>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="locationRating">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element type="xs:float" name="overall"/>
                                                                                                <xs:element type="xs:float" name="single"/>
                                                                                                <xs:element type="xs:float" name="couple"/>
                                                                                                <xs:element type="xs:float" name="family"/>
                                                                                                <xs:element type="xs:float" name="friends"/>
                                                                                                <xs:element type="xs:float" name="beach"/>
                                                                                                <xs:element type="xs:float" name="wintersport"/>
                                                                                                <xs:element type="xs:float" name="other"/>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="serviceRating">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element type="xs:float" name="overall"/>
                                                                                                <xs:element type="xs:float" name="single"/>
                                                                                                <xs:element type="xs:float" name="couple"/>
                                                                                                <xs:element type="xs:float" name="family"/>
                                                                                                <xs:element type="xs:float" name="friends"/>
                                                                                                <xs:element type="xs:float" name="beach"/>
                                                                                                <xs:element type="xs:float" name="wintersport"/>
                                                                                                <xs:element type="xs:float" name="other"/>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="foodRating">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element type="xs:float" name="overall"/>
                                                                                                <xs:element type="xs:float" name="single"/>
                                                                                                <xs:element type="xs:float" name="couple"/>
                                                                                                <xs:element type="xs:float" name="family"/>
                                                                                                <xs:element type="xs:float" name="friends"/>
                                                                                                <xs:element type="xs:float" name="beach"/>
                                                                                                <xs:element type="xs:float" name="wintersport"/>
                                                                                                <xs:element type="xs:float" name="other"/>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="roomRating">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element type="xs:float" name="overall"/>
                                                                                                <xs:element type="xs:float" name="single"/>
                                                                                                <xs:element type="xs:float" name="couple"/>
                                                                                                <xs:element type="xs:float" name="family"/>
                                                                                                <xs:element type="xs:float" name="friends"/>
                                                                                                <xs:element type="xs:float" name="beach"/>
                                                                                                <xs:element type="xs:float" name="wintersport"/>
                                                                                                <xs:element type="xs:float" name="other"/>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="sportRating">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element type="xs:float" name="overall"/>
                                                                                                <xs:element type="xs:float" name="single"/>
                                                                                                <xs:element type="xs:float" name="couple"/>
                                                                                                <xs:element type="xs:float" name="family"/>
                                                                                                <xs:element type="xs:float" name="friends"/>
                                                                                                <xs:element type="xs:float" name="beach"/>
                                                                                                <xs:element type="xs:float" name="wintersport"/>
                                                                                                <xs:element type="xs:float" name="other"/>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="recommendation">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element type="xs:float" name="overall"/>
                                                                                                <xs:element type="xs:float" name="single"/>
                                                                                                <xs:element type="xs:float" name="couple"/>
                                                                                                <xs:element type="xs:float" name="family"/>
                                                                                                <xs:element type="xs:float" name="friends"/>
                                                                                                <xs:element type="xs:float" name="beach"/>
                                                                                                <xs:element type="xs:float" name="wintersport"/>
                                                                                                <xs:element type="xs:float" name="other"/>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:string" name="source"/>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element type="xs:string" name="hotelAwards"/>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
</xs:schema>