src/main/resources/giata.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Mar 09 2019 14:09:50 GMT+0100 (Mitteleuropäische Normalzeit) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="content">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="hotel">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="giata_id" type="xs:int"></xs:element>
                                             <xs:element name="iff" type="xs:int"></xs:element>
                                             <xs:element name="name" type="xs:string"></xs:element>
                                             <xs:element name="latitude" type="xs:double"></xs:element>
                                             <xs:element name="longitude" type="xs:double"></xs:element>
                                             <xs:element name="address">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="zip" type="xs:int"></xs:element>
                                                               <xs:element name="city" type="xs:string"></xs:element>
                                                               <xs:element name="country" type="xs:string"></xs:element>
                                                               <xs:element name="formatted">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="line" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="phone" type="xs:int"></xs:element>
                                             <xs:element name="email" type="xs:string"></xs:element>
                                             <xs:element name="url" type="xs:string"></xs:element>
                                             <xs:element name="update_timestamp" type="xs:string"></xs:element>
                                             <xs:element name="category"></xs:element>
                                             <xs:element name="region_code"></xs:element>
                                             <xs:element name="country_name"></xs:element>
                                             <xs:element name="texts">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="text">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="paragraph" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:attribute name="headline" type="xs:string"></xs:attribute>
                                                                                             <xs:attribute name="description" type="xs:string"></xs:attribute>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="copyrightText" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                           <xs:attribute name="tourOperator" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="source" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="tourOperatorLong" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="id" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="usps">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="hotelAttributes">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="attribute" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:attribute name="priority" type="xs:int"></xs:attribute>
                                                                                             <xs:attribute name="rating" type="xs:double"></xs:attribute>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                           <xs:attribute name="source" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="additionalTexts"></xs:element>
                                             <xs:element name="images">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="image" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="priority" type="xs:int"></xs:element>
                                                                                 <xs:element name="title"></xs:element>
                                                                                 <xs:element name="alt"></xs:element>
                                                                                 <xs:element name="category"></xs:element>
                                                                                 <xs:element name="width" type="xs:int"></xs:element>
                                                                                 <xs:element name="height" type="xs:int"></xs:element>
                                                                                 <xs:element name="url" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="source" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="sourceLong" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="katalogid" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="katalogname" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="videos">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="video">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="urls">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="url" type="xs:string">
                                                                                                         <xs:complexType>
                                                                                                               <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                           <xs:attribute name="hasPlayer" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="source" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="priority" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="attributes">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="category" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="attribute" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                           <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="source" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="ratings">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="hc_id" type="xs:int"></xs:element>
                                                               <xs:element name="recommendation_rate" type="xs:double"></xs:element>
                                                               <xs:element name="rating" type="xs:double"></xs:element>
                                                               <xs:element name="reviews" type="xs:int"></xs:element>
                                                               <xs:element name="url" type="xs:string"></xs:element>
                                                               <xs:element name="detailedRating">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="averageRating">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="overall" type="xs:double"></xs:element>
                                                                                                   <xs:element name="single" type="xs:int"></xs:element>
                                                                                                   <xs:element name="couple" type="xs:double"></xs:element>
                                                                                                   <xs:element name="family" type="xs:int"></xs:element>
                                                                                                   <xs:element name="friends" type="xs:int"></xs:element>
                                                                                                   <xs:element name="beach" type="xs:double"></xs:element>
                                                                                                   <xs:element name="wintersport" type="xs:int"></xs:element>
                                                                                                   <xs:element name="other" type="xs:int"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="hotelRating">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="overall" type="xs:double"></xs:element>
                                                                                                   <xs:element name="single" type="xs:int"></xs:element>
                                                                                                   <xs:element name="couple" type="xs:double"></xs:element>
                                                                                                   <xs:element name="family" type="xs:double"></xs:element>
                                                                                                   <xs:element name="friends" type="xs:int"></xs:element>
                                                                                                   <xs:element name="beach" type="xs:double"></xs:element>
                                                                                                   <xs:element name="wintersport" type="xs:int"></xs:element>
                                                                                                   <xs:element name="other" type="xs:int"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="locationRating">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="overall" type="xs:double"></xs:element>
                                                                                                   <xs:element name="single" type="xs:double"></xs:element>
                                                                                                   <xs:element name="couple" type="xs:int"></xs:element>
                                                                                                   <xs:element name="family" type="xs:double"></xs:element>
                                                                                                   <xs:element name="friends" type="xs:int"></xs:element>
                                                                                                   <xs:element name="beach" type="xs:double"></xs:element>
                                                                                                   <xs:element name="wintersport" type="xs:int"></xs:element>
                                                                                                   <xs:element name="other" type="xs:double"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="serviceRating">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="overall" type="xs:double"></xs:element>
                                                                                                   <xs:element name="single" type="xs:int"></xs:element>
                                                                                                   <xs:element name="couple" type="xs:double"></xs:element>
                                                                                                   <xs:element name="family" type="xs:double"></xs:element>
                                                                                                   <xs:element name="friends" type="xs:int"></xs:element>
                                                                                                   <xs:element name="beach" type="xs:double"></xs:element>
                                                                                                   <xs:element name="wintersport" type="xs:int"></xs:element>
                                                                                                   <xs:element name="other" type="xs:double"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="foodRating">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="overall" type="xs:double"></xs:element>
                                                                                                   <xs:element name="single" type="xs:double"></xs:element>
                                                                                                   <xs:element name="couple" type="xs:double"></xs:element>
                                                                                                   <xs:element name="family" type="xs:double"></xs:element>
                                                                                                   <xs:element name="friends" type="xs:int"></xs:element>
                                                                                                   <xs:element name="beach" type="xs:double"></xs:element>
                                                                                                   <xs:element name="wintersport" type="xs:int"></xs:element>
                                                                                                   <xs:element name="other" type="xs:double"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="roomRating">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="overall" type="xs:double"></xs:element>
                                                                                                   <xs:element name="single" type="xs:double"></xs:element>
                                                                                                   <xs:element name="couple" type="xs:double"></xs:element>
                                                                                                   <xs:element name="family" type="xs:double"></xs:element>
                                                                                                   <xs:element name="friends" type="xs:int"></xs:element>
                                                                                                   <xs:element name="beach" type="xs:double"></xs:element>
                                                                                                   <xs:element name="wintersport" type="xs:int"></xs:element>
                                                                                                   <xs:element name="other" type="xs:double"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="sportRating">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="overall" type="xs:double"></xs:element>
                                                                                                   <xs:element name="single" type="xs:double"></xs:element>
                                                                                                   <xs:element name="couple" type="xs:double"></xs:element>
                                                                                                   <xs:element name="family" type="xs:double"></xs:element>
                                                                                                   <xs:element name="friends" type="xs:int"></xs:element>
                                                                                                   <xs:element name="beach" type="xs:double"></xs:element>
                                                                                                   <xs:element name="wintersport" type="xs:int"></xs:element>
                                                                                                   <xs:element name="other" type="xs:double"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="recommendation">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="overall" type="xs:double"></xs:element>
                                                                                                   <xs:element name="single" type="xs:int"></xs:element>
                                                                                                   <xs:element name="couple" type="xs:double"></xs:element>
                                                                                                   <xs:element name="family" type="xs:double"></xs:element>
                                                                                                   <xs:element name="friends" type="xs:int"></xs:element>
                                                                                                   <xs:element name="beach" type="xs:double"></xs:element>
                                                                                                   <xs:element name="wintersport" type="xs:int"></xs:element>
                                                                                                   <xs:element name="other" type="xs:int"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="source" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="hotelAwards"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
 