src/main/resources/giata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="result">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element name="data">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element type="xs:string" name="PDFfile"/>
                                          <xs:element type="xs:string" name="Hotelname"/>
                                          <xs:element type="xs:byte" name="Hotelkategorie"/>
                                          <xs:element type="xs:string" name="Stadtname"/>
                                          <xs:element type="xs:string" name="Zielgebietsname"/>
                                          <xs:element type="xs:short" name="Stadtnummer"/>
                                          <xs:element type="xs:short" name="Zielgebietsnummer"/>
                                          <xs:element type="xs:string" name="Landname"/>
                                          <xs:element type="xs:string" name="Landcode"/>
                                          <xs:element type="xs:string" name="Veranstaltercode"/>
                                          <xs:element type="xs:date" name="datestart"/>
                                          <xs:element type="xs:date" name="dateend"/>
                                          <xs:element name="GeoData">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element type="xs:short" name="GiataID"/>
                                                            <xs:element type="xs:float" name="Latitude"/>
                                                            <xs:element type="xs:float" name="Longitude"/>
                                                            <xs:element type="xs:byte" name="Accuracy"/>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element type="xs:string" name="Objectcode"/>
                                          <xs:element name="Objectcodes">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="oc">
                                                                  <xs:complexType>
                                                                        <xs:simpleContent>
                                                                              <xs:extension base="xs:string">
                                                                                    <xs:attribute type="xs:byte" name="seq"/>
                                                                              </xs:extension>
                                                                        </xs:simpleContent>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element name="Text">
                                                <xs:complexType>
                                                      <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                  <xs:attribute type="xs:string" name="lang"/>
                                                            </xs:extension>
                                                      </xs:simpleContent>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element type="xs:string" name="Landkarte"/>
                                          <xs:element name="climate">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="day_temperature">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element type="xs:byte" name="month1"/>
                                                                              <xs:element type="xs:byte" name="month2"/>
                                                                              <xs:element type="xs:byte" name="month3"/>
                                                                              <xs:element type="xs:byte" name="month4"/>
                                                                              <xs:element type="xs:byte" name="month5"/>
                                                                              <xs:element type="xs:byte" name="month6"/>
                                                                              <xs:element type="xs:byte" name="month7"/>
                                                                              <xs:element type="xs:byte" name="month8"/>
                                                                              <xs:element type="xs:byte" name="month9"/>
                                                                              <xs:element type="xs:byte" name="month10"/>
                                                                              <xs:element type="xs:byte" name="month11"/>
                                                                              <xs:element type="xs:byte" name="month12"/>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="night_temperature">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element type="xs:byte" name="month1"/>
                                                                              <xs:element type="xs:byte" name="month2"/>
                                                                              <xs:element type="xs:byte" name="month3"/>
                                                                              <xs:element type="xs:byte" name="month4"/>
                                                                              <xs:element type="xs:byte" name="month5"/>
                                                                              <xs:element type="xs:byte" name="month6"/>
                                                                              <xs:element type="xs:byte" name="month7"/>
                                                                              <xs:element type="xs:byte" name="month8"/>
                                                                              <xs:element type="xs:byte" name="month9"/>
                                                                              <xs:element type="xs:byte" name="month10"/>
                                                                              <xs:element type="xs:byte" name="month11"/>
                                                                              <xs:element type="xs:byte" name="month12"/>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="sunshine">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element type="xs:byte" name="month1"/>
                                                                              <xs:element type="xs:byte" name="month2"/>
                                                                              <xs:element type="xs:byte" name="month3"/>
                                                                              <xs:element type="xs:byte" name="month4"/>
                                                                              <xs:element type="xs:byte" name="month5"/>
                                                                              <xs:element type="xs:byte" name="month6"/>
                                                                              <xs:element type="xs:byte" name="month7"/>
                                                                              <xs:element type="xs:byte" name="month8"/>
                                                                              <xs:element type="xs:byte" name="month9"/>
                                                                              <xs:element type="xs:byte" name="month10"/>
                                                                              <xs:element type="xs:byte" name="month11"/>
                                                                              <xs:element type="xs:byte" name="month12"/>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="rainday">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element type="xs:byte" name="month1"/>
                                                                              <xs:element type="xs:byte" name="month2"/>
                                                                              <xs:element type="xs:byte" name="month3"/>
                                                                              <xs:element type="xs:byte" name="month4"/>
                                                                              <xs:element type="xs:byte" name="month5"/>
                                                                              <xs:element type="xs:byte" name="month6"/>
                                                                              <xs:element type="xs:byte" name="month7"/>
                                                                              <xs:element type="xs:byte" name="month8"/>
                                                                              <xs:element type="xs:byte" name="month9"/>
                                                                              <xs:element type="xs:byte" name="month10"/>
                                                                              <xs:element type="xs:byte" name="month11"/>
                                                                              <xs:element type="xs:byte" name="month12"/>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="water_temperature">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element type="xs:byte" name="month1"/>
                                                                              <xs:element type="xs:byte" name="month2"/>
                                                                              <xs:element type="xs:byte" name="month3"/>
                                                                              <xs:element type="xs:byte" name="month4"/>
                                                                              <xs:element type="xs:byte" name="month5"/>
                                                                              <xs:element type="xs:byte" name="month6"/>
                                                                              <xs:element type="xs:byte" name="month7"/>
                                                                              <xs:element type="xs:byte" name="month8"/>
                                                                              <xs:element type="xs:byte" name="month9"/>
                                                                              <xs:element type="xs:byte" name="month10"/>
                                                                              <xs:element type="xs:byte" name="month11"/>
                                                                              <xs:element type="xs:byte" name="month12"/>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:string" name="kind"/>
                                                      <xs:attribute type="xs:short" name="id"/>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element type="xs:short" name="KatalogID"/>
                                          <xs:element type="xs:short" name="Katalogseite"/>
                                          <xs:element type="xs:byte" name="Preisseite"/>
                                          <xs:element type="xs:string" name="Katalogname"/>
                                          <xs:element type="xs:string" name="Veranstaltername"/>
                                          <xs:element type="xs:short" name="VeranstalterID"/>
                                          <xs:element type="xs:int" name="KataloghotelID"/>
                                          <xs:element type="xs:string" name="KatalogSaisonTyp"/>
                                          <xs:element name="Bildfile" maxOccurs="unbounded" minOccurs="0">
                                                <xs:complexType>
                                                      <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                  <xs:attribute type="xs:string" name="typ" use="optional"/>
                                                                  <xs:attribute type="xs:byte" name="seq" use="optional"/>
                                                                  <xs:attribute type="xs:short" name="size" use="optional"/>
                                                                  <xs:attribute type="xs:short" name="width" use="optional"/>
                                                                  <xs:attribute type="xs:short" name="height" use="optional"/>
                                                                  <xs:attribute type="xs:string" name="id" use="optional"/>
                                                            </xs:extension>
                                                      </xs:simpleContent>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element type="xs:anyURI" name="Textfile"/>
                                          <xs:element type="xs:string" name="Klimagrafik"/>
                                          <xs:element type="xs:string" name="AGB"/>
                                          <xs:element type="xs:anyURI" name="TDS"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id"/>
                              </xs:complexType>
                        </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="found"/>
            </xs:complexType>
      </xs:element>
</xs:schema>